html {
    scroll-behavior: smooth;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
font-weight: 300;
overflow-x: hidden;

}

.nav-item-mobile {
    display: none;
}

.nav {
position: fixed;
z-index: 15;
left: 0;
right: 0;
top: 0;
height: 100px;
padding: 0 5%;
background-color: white;
border-bottom: 5px #007F84 solid;
}
.nav .logo img {
    height: 90px;
    width: 90px;
}
.nav .logo {
float: left;
width: 40%;
height: 100%;
display: flex;
align-items: center;
}

.nav .nav-bar {
float: right;
padding: 0;
margin: 0;
width: 60%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

.nav .nav-bar li {
list-style: none;
}

.nav .nav-bar li a {
display: block;
padding: 1rem;
font-size: 20px;
font-weight: 500;
color: #000;
text-decoration: none;
position: relative;
transition: all 0.5s ease-in-out;
}

.nav .nav-bar li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #007F84;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.nav .nav-bar li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

#nav-toggle {
    position: absolute;
    top: -100px;
}

.nav .icon-burger {
display: none;
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
}

.nav .icon-burger .line {
width: 30px;
height: 5px;
background-color: #000;
margin: 5px;
border-radius: 3px;
transition: all 0.5s ease-in-out;
}

.container-slide-show{
    width: 100%;
    height: auto;
    max-height: 550px;
    overflow: hidden;
}

.wrapper{
    width: 100%;
    display: flex;
    animation: slide 12s infinite;
}

.container-slide-show .wrapper img{
    width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    17%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    86%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(0%);
    }
}

@-moz-document url-prefix() {
    .wrapper {
        animation: none;
    }

    .mozilla-hidden {
        display: none;
    }
  }

.about-us-image {
    width: 35%;
    float: left;
}

.about-us-image img {
    display: block;
    margin-right: auto;
    height: auto; 
    width:80%;
} 

.about-us-text {
    float: left;
    width: 65%;
    font-size: 25px;
    text-align: justify;
}

.about-us-text h1 {
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-color: #007F84;
}

.about-us-container {
    display: flex;
    padding: 60px;
    padding-top: 100px;
    
}

.profile-cards-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 80px;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 400px;
    perspective: 1000px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 10px 15px 15px rgb(0, 127, 132);
}
  
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.flip-card-front {
background-color: #fff;
color: black;
}

.flip-card-front img {
    width: 250px; 
    height: 400px;
}

.flip-card-back {
background-color: #007F84;
font-size: 13px;
color: white;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
}

.flip-card-back p {
    font-size: 1.5em;
}
.flip-card h1 {
    
    margin-bottom: 1em;
}

.flip-card-front img, .flip-card-front, .flip-card-back, .flip-card-inner, .flip-card, .profile-cards-container {
    border-radius: 10px
}

/*-----------------------------------------*/
.services-container-mobile {
    display: none;
}
.services-container h1 {
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-color: #007F84;
}
.services-container {
    padding: 100px;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.infocardContainer {
display: flex;
margin: 50px;
height: 200px;
width: 200px;
border-radius: 100px;
background: linear-gradient(121deg, rgb(255,255,255) 0%, #007F84 30%);
transition: all 500ms ease-in;
}
.infocardContainer:hover {
width: 100%;
border-radius: 100px;
transition: all 1s ease-out;
}

.infocardContainer div * {
display: flex;
--flex: inherit;
overflow: hidden;
text-overflow: hidden;
color: white;
white-space: wrap;
width: 0;
height: auto;
transition: all 450ms ease-in;
}

.infocardContainer:hover div * {
display: flex;
visibility: visible;
transition: all 1s ease-out;
transition-delay: 50ms;
width: 100%;
height: auto;
}

.infocardContainer .maininfocard, .infocardContainer .maininfocard img{
height: 200px;
width: 200px;
padding-right: 10px;
border-radius: 100%;
flex-shrink: 0;
object-fit: cover;
flex-wrap: wrap;
}
.infocardContainer .maininfocard img{
height: 180px;
width: 180px;
transition: none;
display: float;
position: relative;
border: 10px solid white;
margin: 0 0 0 0; padding: 0 0 0 0;
}

.infocardContainer .textbois {
margin-left: 5%;
margin-right: 10%;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 20px;
padding-top: 20px;
font-size: 0.9em;
}

.textbois h2 {
    margin-bottom: 0.2em;
    font-size: 18px;
}


.contact-container {  
    width: 100%;
    height: 600px;
    
    display: grid;
    font-family: monospace;
    font-size: 1.5em;
    background-color: #007F84;
    color: #fff;
    grid-template-columns: 3fr 0.5fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    grid-auto-flow: row;
    grid-template-areas:
      "map main-header main-header"
      "map opening-hours-logo opening-hours-text"
      "map phone-logo phone-text"
      "map email-logo email-text"
      "map adress-logo adress-text";
}

.contact-container > div {
    text-align: left;
    
}
  
.main-header { margin-top: 20px;grid-area: main-header; font-size: 40px; }
  
.opening-hours-logo { grid-area: opening-hours-logo; }
  
.opening-hours-text { grid-area: opening-hours-text; }

.phone-logo { margin-top: 20px;grid-area: phone-logo; }

.phone-text { margin-top: 20px;grid-area: phone-text; }
  
.email-logo { margin-top: 20px;grid-area: email-logo; }
  
.email-text { margin-top: 20px;grid-area: email-text; }
  
.adress-logo { margin-top: 20px;grid-area: adress-logo; }

.adress-text {margin-top: 20px; grid-area: adress-text; }

.map { margin: 25px;  grid-area: map; min-width: 300px; margin-right: 50px; height: auto; z-index: 11;}
  

/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 845px){
    
    .nav .logo {
        float: left;
        width: auto;
        justify-content: center;
        }

    
    .nav-item-mobile {
        display: flex;
    }
    .nav .nav-bar {
            float: none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 100px;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(0, 127, 132, 1);
            overflow: hidden;
            transition: all .5s ease-in-out; /*rychlost otevreni menu*/
    }

    /*dekorace menu*/
    .nav .nav-bar li a {
            display: block;
            padding: 1rem;
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            text-decoration: none;
            position: relative;
            transition: all .5s ease-in-out;
        }
      
    /* podtrhavani*/
    .nav .nav-bar li a::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 4px;
                background-color: #fff;
                bottom: 0;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
    }    
    
    .nav .icon-burger {
        display: block;
    }
    
    .nav :checked ~ .nav-bar {
        bottom: 30%;
    }
        

/*------------------------------------------------------------*/
    /*zmena haburgru na krizek*/
    .nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    .nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    .nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
/*--------------------------------------------------------------*/

    .container-slide-show{
        height: auto;
    }

    .about-us-image {
            display: none;
    }

    .about-us-container {
        padding: 20px;
    }


    .about-us-text {
        width: 100%;
    }

    .about-us-container h1 {
        text-align: center;
    }

    .profile-cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }

    .flip-card {
        margin-bottom: 50px;
    }

    
    .flip-card-front img, .flip-card-front, .flip-card-back, .flip-card-inner, .flip-card, .profile-cards-container {
        border-radius: 100px;
    }

    .services-container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .services-container-mobile h1 {
        font-size: 50px;
    text-decoration-line: underline;
    text-decoration-color: #007F84;
    }

    .infocardContainerMobile {
        display: flex;
        height: 17.5em;
        flex-direction: row;  
        margin-top: 20px;     
        border-color: #007F84;
        border-width: 4px;
        border-style: solid;
        border-radius: 0 50px 0 50px;
    }
    
    .infocardContainerMobile .textbois {
        padding: 20px;
        font-size: 0.9em;
    }
    
    .maininfocard img {
        width: 20em;
        height: 17em;
        border-radius: 0 0 0 46px;
        margin-right: 20px;
    }
    @media screen and (max-width: 700px){
        .infocardContainerMobile {
            flex-direction: column;
            height: auto;
        }
        
        .maininfocard img {
            width: 100%;
            height: auto;
            border-radius: 0 46px 0 0;
            margin-right: 20px;
        }
    }

    

    /*---------------------------------------*/
    .contact-container {  
        font-family: monospace;
        font-size: 1em ;
    width: 100%;
    height: 1000px;
    padding: 25px;
    margin-top: 200px;
    display: grid;
    background-color: #007F84;
    color: #fff;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main-header main-header"
        "opening-hours-logo opening-hours-text"
        "phone-logo phone-text"
        "email-logo email-text"
        "adress-logo adress-text"
        "map map";
    }
    
    .opening-hours-logo { grid-area: opening-hours-logo; }
    
    .opening-hours-text { grid-area: opening-hours-text; }
    
    .main-header { grid-area: main-header; margin-left: auto; margin-right: auto;}
    
    .phone-logo { grid-area: phone-logo; }
    
    .phone-text { grid-area: phone-text; }
    
    .email-logo { grid-area: email-logo; }
    
    .email-text { grid-area: email-text; }
    
    .adress-logo { grid-area: adress-logo; }
    
    .adress-text { grid-area: adress-text; }
    
    .map { grid-area: map; width: auto; height: 400px; margin: 0;}
    


    /*------------------------------------------------*/
    .disable {
        display: none;
    }

}
